<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>slave3</name>
  <description>jenkins for slave 3</description>
  <remoteFS>/home/ec2-user/jenkins_slave3</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.29.4">
    <host>18.217.57.0</host>
    <port>22</port>
    <credentialsId>8786d35e-7f51-4c47-9904-63ff845271a0</credentialsId>
    <launchTimeoutSeconds>210</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.ManuallyTrustedKeyVerificationStrategy">
      <requireInitialManualTrust>false</requireInitialManualTrust>
    </sshHostKeyVerificationStrategy>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>gagan</label>
  <nodeProperties/>
</slave>